[Unit]
Description=SFIA-1 Project
[Service]
User=jenkins
ExecStart=/var/lib/jenkins/workspace/pipeline_1/script/after_installation.sh/

[Install]
WantedBy=multi-user.target